sudo: false
language: ruby
rvm:
  - 2.2.3
script:
  - bundle exec rspec spec
  - bundle exec rubocop --display-cop-names
gemfile:
  - Gemfile
notifications:
  slack: jedijavascript:pnn2NP6BplBcTZwkx3ZIyuHm
